<div class="container">
  <div class="row profile">
    <div class="col-md-12">
      <div class="profile-content">
        <div class="row">
          <div class="col-md-12">
            <h4>Modify your Profile - <%= resource_name.to_s.humanize %></h4>
            <br>
          </div>
        </div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group row mt-2">
            <%= f.label :username, 'Username', class: 'col-4 col-form-label' %>
            <%= f.text_field :username, autofocus: true, required: true, autocomplete: "username", class: 'form-control here' %>
          </div>
          <div class="form-group row mt-2">
            <%= f.label :email, 'Email', class: 'col-4 col-form-label' %>
            <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", class: 'form-control here' %>
          </div>
          <div class="form-group row mt-2">
            <%= f.label :password, 'Password', class: 'col-4 col-form-label' %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control here' %>
          </div>
          <div class="form-group row mt-1">
            <%= f.label :password_confirmation, 'Password confirmation', class: 'col-4 col-form-label' %>
            <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class: 'form-control here' %>
          </div>

          <div class="form-group row mt-4">
            <%= f.label "Avatar", class: "label block text-sm font-medium text-gray-700" %>
            
            <% if resource.avatar.attached? %>
              <%= image_tag url_for(resource.avatar), class: 'img-thumbnail mb-4', style: 'width: 250px; height: 400px; object-fit: contain;' %>
            <% end %>
            
            <div class="dropzone dropzone-default dz-clickable rounded" data-controller="dropzone" data-dropzone-max-file-size="8" data-dropzone-max-files="6">
              <%= f.file_field :avatar, direct_upload: true, data: { target: 'dropzone.input' } %>
              <div class="dropzone-msg dz-message needsclick text-gray-600">
                <p class="dropzone-msg-title fs-5">Move the image to the screen area or click on the button to upload (to select multiple images, hold down the Ctrl key)</p>
                <span class="dropzone-msg-desc text-sm">8 MB maximum size. Allowed file types are png, jpg</span>
              </div>
            </div>
          </div>

          <div class="form-group row mt-4 mb-2">
            <div class="col-8">
              <%= f.submit "Update", class: "btn btn-primary" %>
            </div>
          </div>

        <% end %>
        <hr>
        <h3>Cancel my account</h3>
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
      </div>
    </div>
  </div>
</div>

