  <div class="mb-4 p-3 rounded shadow" id="<%= dom_id(@post)%>" style="background-color: <%= pin? ? @pin.bg_color : 'transparent' %>">

  <section class="border-bottom mb-4">
    <div class="row align-items-end mb-4">
      <div class="col-lg-9 text-center text-lg-start mb-3 m-lg-0">
        <%= avatar(post: @post) %>
        <%= post_budget %> <%= post_created_at %> <%= post_updated_at %>
      </div>

      <div class="col-lg-3 text-center text-lg-end" style="display: flex">
        <%= author_actions(post: @post) if @current_user && current_user_is_author? %>
        <%= pinned_actions(pin: @pin, author: @author) if pin? && @current_user %>

        <% if @current_user && !pin? %>
            <%= button_to pins_path(post_id: @post.id, author: @author), method: :post, class: 'btn btn-primary px-3 me-1' do %>
              <i class="fa-solid fa-thumbtack"></i>
            <% end %>
        <% end %>

      </div>
    </div>
  </section>

    <section class='flex flex-row justify-content-center' data-controller='present-handler'>
      <div >
        <h2 class='text-center'><%= @post.title %></h2>

        <div data-present-handler-target='presenter'>
          <%= present_window(post: @post) %>
        </div>
        
        <%= read_more(post: @post) %>
      </div>
    </section>

    <hr>
  </div>
