  <div class="mb-4 p-3 rounded shadow" id="<%= dom_id(@post)%>" style="background-color: <%= pin? ? @pin.bg_color : 'transparent' %>">

  <section class="border-bottom mb-4">
    <div class="row align-items-end mb-4">
      <div class="col-lg-9 text-center text-lg-start mb-3 m-lg-0">
        
        <% if @post&.user&.avatar&.attached? %>
          <%= image_tag @post.user&.avatar, class: 'rounded-5 shadow-1-strong me-2', height: 35 %>
        <% else %>
          <%= image_tag url_for('default_image.png'), class: 'rounded-5 shadow-1-strong me-2', height: 35 %>
        <% end %>
        
        <%= post_budget %>
      </div>

      <h1><%= @author %></h1>

      <div class="col-lg-3 text-center text-lg-end" style="display: flex">
        <%= author_actions if @current_user && current_user_is_author? %>
        <%= pinned_actions if pin? && @current_user %>

        <% if @current_user && !pin? %>
            <%= button_to pins_path(post_id: @post.id, author: @author), method: :post, class: 'btn btn-primary px-3 me-1' do %>
              <i class="fa-solid fa-thumbtack"></i>
            <% end %>
        <% end %>

      </div>
    </div>
  </section>

    <section class='flex flex-row justify-content-center' data-controller='present_handler'>
      <div >
        <h2 class='text-center'><%= @post.title %></h2>

        <div id='present'>
          <%= present_window %>
        </div>
        
        <%= read_more %>
      </div>
    </section>

    <hr>
  </div>
